// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//   }

  
.login-page{
    background-image: url(1.jpg);
    background-size: cover;

.text-center{
      font-family: "Pacifico", cursive;
      font-size: 50px;
      color: white;
  }

  .btn-primary{
    background-color: rgb(64, 113, 177);
    border: none;
    font-weight: bold;
  }

  .carousel-item img {
    width: 100%;
    height: 100vh; 
}

}

.layout-page {
  background-color: rgb(214, 213, 218);

.my-play{
  font-size: 30px;
  background-color: rgb(170, 156, 192); }

  .card {
    transition: transform 0.2s , box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 3px 3px rgba(113, 86, 158, 0.616);
}

.card-title{
  font-family: "Pacifico", cursive;
}
}

.song-page{
  background-image: url(1.jpg);
  background-size: cover;

.song-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.controls {
  display: flex;
  justify-content: space-between; 
}

.controls button {
  flex: 1;
  margin: 5px; 
}

.btn-primary{
  background-color: #8885aa;
  border: 1px solid white;
  font-size: 22px;
}

.card-title{
  font-family: "Pacifico", cursive;
}

.card{
  background-color: rgb(216, 215, 230);
}

.icon-page{
  display: flex;
  align-items: center;
  justify-content: center;
}
}